* { /*use of border box so all of my elements are  calculated the same way(including borders and padding)*/
  box-sizing: border-box;
}
body{
  font-family: Raleway, sans-serif;
  margin: 0;
}
section, article { /*align all items in each section*/ 
  padding: 15px;
  width: 100%;
}
#logo {
  margin-left: 15px;
  margin-top: 15px;
}
.menu a {
  color: #000000;
  text-decoration: none;
}
.menu span a {
  color: #0065FC;
  font-weight: bold;
  float: right; /*s'inscrire goes to the right of the logo*/
  margin-top: 30px;
  margin-right: 15px;
}
.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; /*to elimanate the existing padding by default and therefore place my <li>. */
}
.menu li {
  width: 50%;
}
.menu li a {
  display: block; /* so my <li> tag can take the width and i can place excaclty where i need*/
  width: 100%;
  text-align: center;
  padding: 8px;
  margin-top: 20px;
  border-bottom: 3px solid #F2F2F2;
}
.menu li a:hover {
  color: #0065FC;
  border-bottom: 3px solid #0065FC;
}
.input-container {
  width: 100%;
  height: 50px;
  display: inline-flex;
  position: relative;/* so the children are positioned relatively to their parent*/
}
.input-container input {
  flex: 1;/*how it will grow relative to the other flex items*/
  border-right: none;
  border-left: none;
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  padding-right: 65px;
  padding-left: 15px;
}
.fas { /*icons font awsome*/
  line-height: 2; /*make more space and readable the icons*/
}
.location-icon {
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;/*to center the icon verticaly*/
  text-align: center;
}
.search-icon {
  position: absolute;/*child of the input container*/
  right: 0;
  background-color: #0065FC;
  color: white;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;/*to center the icon verticaly*/
  text-align: center;
  border-color: transparent;
  font-size: 1em;
  cursor: pointer;
}
.text-search {
  display: none;
}
#most-pop, footer {
  background-color: #F2F2F2;
}
#filter-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#filter-list li {
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid #F2F2F2;
  border-radius: 50px;
  padding-right: 15px;
  display: inline-block;
  transition: background-color 0.25s ease-out;
}
#filter-list li:hover {
  cursor: pointer;
  background-color: #DEEBFF;
  transform: scale(1.1);
}
.circle-icon {
  display: inline-block;/*so it goes to the same line as the elements that souround it */
  background-color: #DEEBFF;
  color: #0065FC;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  line-height: 50px;/*to center the icon verticaly*/
  text-align: center;
}
.info {
  margin-top: 15px;/*to space the filters from the info*/
}
.info-icon { 
  border: 2px solid #F2F2F2;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 27px;
  text-align: center;
  font-size: 0.7em;/*to center the icon verticaly*/
  color: #0065FC;
  float: left; /*so it places next to the info paragraph*/
  margin-right: 10px;
  transform: translate(4px, -4px);
}
.chart-line { /*icon to move along the grey area, along the screen as it gets wider*/
  float: right;
}
#most-pop h2 { /*align the heading with the 'chart-line' icon$*/
  line-height: 2;
}
.results-pop {
  display: flex;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0;/*to make espace between each box*/
  width: 100%;
  box-shadow: 0px 0px 7px 0px #d9d9d9;
}
#most-pop a, #hotels-results a {
  text-decoration: none;
  color: #000000;
}
.pictures-pop {/*pictures use in 'les plus populaires' section*/
  background-size: cover;
  min-width: 40%;
  min-height: 135px;
  background-position: center center;/*the pictures stays centered*/
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.pictures-long { /*pictures use in 'hebergements marseille' and 'activités'*/
  min-width: 50%;
  background-size: cover;
  min-height: 110px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-position: center center;
}
h4 {
  margin-bottom:  5px;
}
p {
  margin-top: 5px;
  margin-bottom: 15px;
}
.hotel-block {
  margin-left: 10px; /*make espace between the pictures and the paragraph*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between
}
.hotel-block h4 { 
  margin-top: 10px;
}
.result-block { /*blocks of 'hebergements et activités'*/
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0;/*to make espace between each box*/
  width: 100%;
  box-shadow: 0px 2px 7px 0px #d9d9d9;  
}
#activities {
  padding-bottom: 30px;
}
.result-block.activities {
  padding: 0 0 5px 0;
  border: none;
  margin: 20px 0;
}
.result-block a {
  text-decoration: none;
  color: #000000;
}
#hotels-results > h3 { /*'afficher plus' button*/
  margin-top: 40px;
}
.result-block > a > h4 { /*the headings on the blocks 'activités marseille'*/
  margin: 15px 10px;
}
.full-stars {
  color: #0065FC;
}
.empty-stars {
  color: #d9d9d9;
}
footer {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 100%;
}
.footer-links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-links li a {
  text-decoration: none;
  color: #000000;
}
@media screen and (min-width: 640px) {
  .input-container {
    width: 420px;
  }
  /*.sidebar {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
  }*/
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .menu span a {
    margin-right: 26px;
    margin-left: 26px;
  }
  .menu ul {
    float: right;
  }
  .menu li {
    width: initial;
  }
  .menu li a {
    padding: 26px;
    border-top: 3px solid #F2F2F2;
    border-bottom: none;
    margin-top: 0;
  }
  .menu li a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    border-bottom: none;
  }
  #filter-list li {
    margin-right: 20px;
  }
  .sidebar {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
  }
  .results-pop {
    margin: 10px;
    width: 320px;
  }
}
@media screen and (min-width: 1024px) {
  .search-icon {
    display: none;
  }
  .text-search {
    display: block;
    background-color: #0065FC;
    width: 130px;
    /*height: 50px;*/
    line-height: 44px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 0;
    border-color: transparent;
    cursor: pointer;
  }
  .filters {
    margin: 30px 20px 20px 6px;
  }
  .filters h3 {
    float: left;
    margin-right: 15px;
  }
  .info {
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .desktop-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  #most-pop {
    width: 25em;
    float: right;
    border-radius: 10px;
  }
  #most-pop h2 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .results-pop {
    margin: 15px;
  }
  #hotels-results {
    width: 55%;
    float: left;
    background-color: #F2F2F2;
    border-radius: 10px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .hebergements {
    width: 15em;
  }
  /*#activities {
    clear: both;
  }*/
  .desktop-activities {
    display: block;
    height: 440px;
    columns: 4 200px;
  }
  .big-size {
    height: 100%;
  }
  .medium-size {
    height: 65%;
  }
  .normal-size {
    height: 50%;
  }
  .small-size {
    height: 35%;
  }
  .result-block.activities {
    margin: 0;
  }
}